<% 
  begin
      uri = URI.parse(item.url)
      if uri.host.match(/feedburner/i)
          uri = URI.parse(item.news_source.url)
      end
  rescue 
      uri = URI.parse("http://www.reddit.com")
  end
  inner_item_url = '/' + @person.permlink + '/' + Permlink.first(:news_item_id => item.id).permlink
  %>
  
<div class="post" id="post-<%= item.id %>">
	<h2><a href="<%= inner_item_url %>" rel="bookmark" title="Read the original article at <%= uri.host %>"><%= item.title || "no title"%></a></h2>
	
	<div class="entry">
	    <% if item.assets && item.assets.size > 0 %>
	    <% item.assets.each do |img| %>
	        <% next unless img.file_name && img.file_name.size > 4 && img.small_thumb.file_name %>
	        <a href="<%= inner_item_url%>">
	        <img src='http://newstrex-images.s3.amazonaws.com/<%= img.small_thumb.file_name %>' style="float: right; padding: 5px"/> 
	        </a>
	    <% end %>
	    <% end%>
        
        <% if item.content.size > 150 %>
        <p><%= item.content.slice(0, 150)%><a href="<%= inner_item_url %>">... more</a></p>
        <% else %>
		<p><%= item.content %></p>
		<% end %>
		
	</div>
    <div style="display:block; float:left; width: 100%">
	<p class="postmetadata">
	    <small>
	    <%= item.created_at.strftime("%B %d %Y") %>   
	    <% if uri.host && uri.host.size > 0%>
	        |  From <a href="http://<%= uri.host %>" title="See more news from <%= uri.host %>" rel="orig tag"><%= uri.host %></a></small>
	    <% end %>
	</p>
	</div>
	<div style="clear:both"></div>
</div>